[submodule "houdini"]
	path = houdini
	url = https://github.com/solero/houdini
[submodule "dash"]
	path = dash
	url = https://github.com/solero/dash
[submodule "legacy-media"]
	path = legacy-media
	url = https://git.solero.me/solero/legacy-media
[submodule "vanilla-media"]
	path = vanilla-media
	url = https://git.solero.me/solero/vanilla-media
[submodule "snowflake"]
	path = snowflake
	url = https://github.com/Lekuruu/snowflake.git
