<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="fr"/>
    <title>Club Penguin</title>

    <link href="/css/baseline.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/css/affiliate/affiliate.css" rel="stylesheet" type="text/css" media="screen"/>
    <link id="stylesheet" type="text/css" href="/css/affiliate/0.css" rel="stylesheet"/>

    <script type="text/javascript" src="/scripts/cookies.js"></script>
    <script type="text/javascript" src="/scripts/0.js"></script>

    {{ if .Env.WEB_RECAPTCHA_SITE }}
    <style type="text/css">
    .grecaptcha-badge {
        display: none;
    }
    </style>
    {{ end }}
  </head>
  <body>
    <div id="affiliateheaderforcp">
      <div id="hdrWrap">
        <div id="navBg">
          <div id="htmlNav">
            <ul id="bu_nav">
              <li><a href="http://www.clubpenguin.com/fr/" target="_parent">Accueil site Web</a></li>
              <li>|</li>
              <li><a href="http://community.clubpenguin.com/fr/blog/" target="_parent">Quoi de neuf</a></li>
              <li>|</li>
              <li><a href="http://support.clubpenguin.com/fr/help/" target="_parent">Aide</a></li>
              <li>|</li>
              <li><a href="http://www.clubpenguin.com/fr/parents/" target="_parent">Parents</a></li>
              <li>|</li>
              <li><a href="http://www.clubpenguin.com/fr/membership" target="_parent">Abonnement</a></li>
            </ul>
            <div id="bigscreen">
              <div id="sm_screen_button_fr"></div>
            </div>
            <div id="languageselector" class="langselect">
              <label class="langselectlabel">Select Language:</label>
              <select class="langselectfield" id="langselect">
                <option value="/fr/">Fran&#231;ais</option>
                <option value="/">English</option>
                <option value="/es/">Espa&#241;ol</option>
                <option value="/pt/">Portugu&#234;s</option>

              </select>
            </div>
            <div id="logoff"><a href="http://www.clubpenguin.com/fr/" target="_parent">Déconnexion</a></div>
          </div>
        </div>
      </div>
    </div>
    <object type="application/x-shockwave-flash" id="game" name="game" data="http://media.localhost/boots.swf"
      width="100%" 
      height="98%">
      <param name="menu" value="false">
      <param name="allowScriptAccess" value="always">
      <param name="flashvars" value="lang=fr">
      <a href="https://get.adobe.com/flashplayer/">
        <img id="noflash" src="/images/need-flash-player.gif" alt="Get Adobe Flash player" title="Get Adobe Flash player" />
      </a>
    </object>
    <div id="affiliatefooter">
      <div id="ftrWrap">
        <div id="ftrBg">
          <div id="ftrContent">
            <img src="/images/disney-logo3.gif" id="disGame" alt="Disney.com Games"/>
            <a href="parents/what_people_are_saying.htm" target="_self"><img src="/images/esrb_footer.gif" id="esrb" alt="ESRB" align="right"/></a>
            <a href="http://www.truste.org/ivalidate.php?url=www.clubpenguin.com&amp;sealid=105" target="_blank"><img src="/images/truste_kids_seal.jpg" align="right" id="truste" alt="TRUSTe - Kids Privacy"/></a>
            <ul>
              <li><a href="http://www.clubpenguin.com/fr/company/index.htm" target="_parent">Entreprise</a></li>
              <li>|</li>
              <li><a class="new" href="http://www.clubpenguin.com/fr/terms.htm" target="_parent">Conditions d'utilisation</a><span class="asterisk">*</span> </li>
              <li>|</li>
              <li><a href="http://www.clubpenguin.com/fr/privacy.htm" target="_parent">Confidentialit&#233;</a></li>
              <li>|</li>
              <li><a href="http://support.clubpenguin.com/fr/help/contact/" target="_parent">Nous contacter</a></li>
              <li>|</li>
              <li class="noMarg"><a href="http://www.clubpenguin.com/fr/sitemap.htm" target="_parent">Plan du site</a></li>
            </ul>
            <p>Club Penguin&trade; Disney Online Studios Canada Inc. &copy; 2010. Tous droits r&#233;serv&#233;s.<br/><span class="asterisk">*</span> <span class="updated">Mise &#224; jour le 21 janvier 2010</span></p>
          </div>
        </div>
      </div>
    </div>
    {{ if .Env.WEB_RECAPTCHA_SITE }}
    <script src="https://www.google.com/recaptcha/api.js?render={{ .Env.WEB_RECAPTCHA_SITE }}"></script>
    <script type="text/javascript">
    function grecaptchaSubmit(){
      grecaptcha.execute({{ .Env.WEB_RECAPTCHA_SITE }}, { action: 'login' }).then(function (token) {
        document.getElementById("game").finishedCaptcha(token);
      });
    }
    </script>
    {{ else }}
    <script type="text/javascript">
    function grecaptchaSubmit(){
      document.getElementById("game").finishedCaptcha("houdini");
    }
    </script>
    {{ end }}
  </body>
</html>
